[2018-07-09 22:35] jessejiang0214 opened #1 "The demo project seems not work correctly"
I just download the project and launch it in iOS and Android simulator.
In iOS simulator, it cannot be dragged
![simulator screen shot - iphone 8 - 2018-07-10 at 08 33 34](https://user-images.githubusercontent.com/4516628/42479411-2876ac02-841c-11e8-8dfa-5743450ab8fc.png)
In Android, the Layout is incorrect
![screenshot_1531175604](https://user-images.githubusercontent.com/4516628/42479426-31b8396

[2018-07-09 22:37] AndreiMisiukevich commented on #1
Thank you for quick response

What iOS simulator do you use?

[2018-07-09 22:39] AndreiMisiukevich commented on #1
Ok, got it on iPhone 6s simulator
Try please iPhone 5s.. i will fix this issue =)

[2018-07-09 22:46] AndreiMisiukevich commented on #1
@jessejiang0214 try it now please)

[2018-07-09 22:48] #1 closed

[2018-07-09 22:49] AndreiMisiukevich commented on #1
Reopen this issue if you face with any troubles. Now it should work well

I added fix =)

[2018-07-15 13:44] acaliaro opened #2 "Example with code"
Hi @AndreiMisiukevich
could you translate your XAML example in CSHARP?

Thanks
Alessandro

[2018-07-15 13:45] AndreiMisiukevich commented on #2
Hi.
Sure, I will do it and let you know
Thanks for feedback

[2018-07-15 13:46] acaliaro commented on #2
wow, you are fast. Thanks!

[2018-07-15 18:47] AndreiMisiukevich commented on #2
Readme is updated =)

[2018-07-15 18:47] #2 closed

[2018-07-15 19:09] acaliaro commented on #2
Thanks I take a look

[2018-07-15 19:29] acaliaro opened #3 "Swipe to delete"
Hi @andreimisiukevich

It should be fantastic to have a swipe to delete functionality...

[2018-07-15 21:11] AndreiMisiukevich commented on #3
cool idea, i will think about it.
Just add new cell type with such feature

[2018-07-19 09:58] AndreiMisiukevich commented on #3
@acaliaro hi) I haven't forgot. I will try to find time for development today-tomorrow)

[2018-07-21 08:41] AndreiMisiukevich commented on #3
@acaliaro hi) could you check the sample? I added new type of cell with such feature

[2018-07-21 09:10] #3 closed

[2018-07-21 09:55] acaliaro opened #4 "Move to action problem"
Hi @AndreiMisiukevich I have downloaded your source and deploied to a Zebra TC51 device with Android 6.0.1

I have these problems:

1. if I swipe the first Item (0), the swipe remove items 0 and 1
2. then app crash

    --------- beginning of crash
07-21 11:54:15.188 29038-29038/com.sourcesoft.ContextMenuSample E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.sourcesoft.ContextMenuSample,

[2018-07-21 10:14] AndreiMisiukevich commented on #4
Great! Thanks for feedback. I will check it.

[2018-07-21 11:55] AndreiMisiukevich commented on #4
https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.Android/Renderers/ScrollViewRenderer.cs#L67-L70

http://prntscr.com/k97on2

Any ideas, why StackLayout is passed instead of ScrollView ? =/

[2018-07-21 12:03] acaliaro commented on #4
really not

[2018-09-25 08:20] VenkyBalaraju opened #5 "Previously swiped item is not getting reset on swiping new item in the Listview"
I have found one issue while swiping items in the listview, is that if there is one item is already swiped and other item is tried to be swiped then previous ones is not getting reset.
Previously swiped item should be reset when new item is getting selected or swiped.

Can you suggest me how to close or reset previously swiped item in the listview ?

Please check out this screenshot:
https://us.v-

[2018-09-27 10:10] AndreiMisiukevich commented on #5
@VenkyBalaraju Hi
Try it now on my sample, i've implemented logic for managing it "from box".

[2018-09-27 10:10] AndreiMisiukevich commented on #5
@VenkyBalaraju if it's ok, it will be included in the next release

[2018-09-27 22:47] #5 closed

[2018-12-02 19:03] alexmartinezm commented on #4
I cannot reproduce it. Can you give more details, please?

Regards,
AMM.

[2018-12-02 19:07] AndreiMisiukevich commented on #4
@alexmartinezm just deploy test sample on your Android (emulator or real device) and try to remove 10 items from the list view. You will note strange effects, then scroll list and remove more items. It crashes
Definitely, it's Xamarin Forms bug, as it works fine on iOS...

[2018-12-03 12:32] alexmartinezm opened #8 "Tap event in MoveToActionCell"
Hi there,

I am trying to tap a MoveToActionCell item, with no success.

Is there any way to achieve this? I have tried to set InputTransparent to true, but it seems to not work properly.

Regards,
AMM.

[2018-12-03 14:50] alexmartinezm commented on #4
Has it been reported to XF team?

[2018-12-03 14:58] AndreiMisiukevich commented on #4
@alexmartinezm no, i had no time for it :(

[2018-12-03 14:59] AndreiMisiukevich commented on #8
@alexmartinezm probably, scrollView swallows touches.
Do tapGestureRecognizers work?

[2018-12-03 15:16] alexmartinezm commented on #8
Where should I create TapGestures? I have tried to create it in the ContentProperty of MoveToActionCell with no success because it disables the swipe action.

[2018-12-03 15:23] AndreiMisiukevich commented on #8
@alexmartinezm that's strange
Need to check it
Because tapGesture should't disable scrollView...

[2018-12-03 15:24] alexmartinezm commented on #8
Ok! I keep trying to find out what's going on.

[2018-12-03 15:29] AndreiMisiukevich commented on #8
@alexmartinezm thanks so much for you contribution :)

[2018-12-03 16:07] alexmartinezm commented on #8
Alright, it was my bad. I was not setting the gesture in the correct place.

You can close this issue. Thank you!

[2018-12-03 16:15] #8 closed

[2018-12-10 09:34] IgorPopov56 opened #9 "Doesn't work on iOS | Multi selection close issue | RTL support issue"
Hi. First of all thanks for the plugin =) I collected few problems I was facing. If something that I described is unclear please write.

1) SideActionBarSamplePage code doesn't work on iOS platform when I'm using using Nuget package.
https://streamable.com/yzlor
If I'm launching the sample project from GitHub, everything works.

2) First move - swiping few ListView items, second move - try to swap

[2018-12-10 09:45] AndreiMisiukevich commented on #9
@IgorPopov56 Hi, thank you very much for feedback

1) Call ```ContextMenuScrollViewRenderer.Initialize()``` in AppDelagate for **iOS** for preserving linking. (I updated Readme :) )

[2018-12-10 09:47] AndreiMisiukevich commented on #9
2) Wow.. good case :) really i didn't design the plugin fro such cases. Need to investigate, how to fix it WITHOUT memory leaks :) I am not keen to store in memory all cells.

[2018-12-10 09:49] AndreiMisiukevich commented on #9
3) Seems to be Xamarin.Forms issue..

[2018-12-10 14:50] IgorPopov56 commented on #9
@AndreiMisiukevich About point 3 ("FlowDirection=RightToLeft"). I found out WHY it happens. ViewStack (of type StackLayout), than contains ContentView and ContextView, is changing the order of elements. That's why Context is left view, Content - right. Scroll logic doesn't change from the value of the variable FlowDirection.
So when "ForceCloseContextMenu" method executes ("await view.ScrollToAsyn

[2018-12-10 14:59] AndreiMisiukevich commented on #9
@IgorPopov56 Are there any ideas how to fix it?)

[2018-12-10 15:16] IgorPopov56 commented on #9
@AndreiMisiukevich For now the only idea is to add support of RTL in code (re-create all the logic for RTL, inserting the correct values in methods (for example, ScrollTo).

[2018-12-11 16:46] kelvice opened #10 "Open SideBarMenu doing a tap"
Good afternoon,
Thank you for this control, is really useful but i have a question. I want show the menu when i swipe each item, but i also want open the menu when the user tap on a icon located in each item.There is any property like isopened or something like that to set when the user tap the icon and then open the menu? To do the same action than swiping the item?
Thank you so much
David

[2018-12-11 19:34] AndreiMisiukevich commented on #10
@kelvice hi, there is no proper way to do it in current version :(
I need to enhance existing logic

[2018-12-11 19:35] AndreiMisiukevich commented on #10
I need to add:

- ForceOpen method
- IsOpened property

[2018-12-11 19:36] AndreiMisiukevich commented on #10
@kelvice unfortunately, i cannot do it right away (maybe on weekend. It should be easy)

[2018-12-12 09:44] kelvice commented on #10
Hi Andrei,
Thank you for the fast response. It's ok, if you can do it on weekend or next week it's fantastic.
Thank you :-)

[2018-12-17 19:44] AndreiMisiukevich commented on #10
@kelvice added ForceOpen method to the cell :)
I didn't added any property, hope method would be enough for start

[2018-12-17 19:44] #10 closed

[2018-12-17 19:45] AndreiMisiukevich commented on #10
You can open/close menu with two next methods
- ForceClose
- ForceOpen

[2018-12-17 20:06] AndreiMisiukevich commented on #9
RTL: i'm not keen to support RTL for this nuget.

Everybody should feel free to contribute it :)

[2018-12-17 20:06] #9 closed

[2018-12-19 14:13] kelvice commented on #10
Good Afternoon Andrei,
Thank you for the update. I have updated the nuget package, but i cannot find the methods. I have in xaml something like this:

[code]
I have tried to put an x:name to the sidebarcell, to reference it and call the methods but i couldn't do it. What i'm doing wrong? I have tried something like:
 <context:SideActionBarCell Height="57" x:Name="test" >

Thank you for the support

[2018-12-19 21:58] AndreiMisiukevich commented on #10
@kelvice hi you cannot do it by that way.

Check how i did it in my sample

**OnOpenClicked** is button's handler
[code]

And code behind

[code]

[2019-01-29 03:37] ShahmanTeh opened #11 "ContextMenu scroll consumes a viewcell with scrollview inside"
setting up ContextMenu for a custom viewcell that has a scrollview inside works, however the scrollview has consumed the ViewCell's child scrollview itself.

[2019-01-29 10:47] AndreiMisiukevich commented on #11
Hi @ShahmanTeh
Yes..

Any ideas, how to solve it?

[2019-01-29 10:47] AndreiMisiukevich commented on #11
i presume it is constraint of using this plugin (you can't use scroll inside your cell)

[2019-01-29 10:48] AndreiMisiukevich commented on #11
i think it's bad UX practice (using ScrollView inside cells, so, unfortunately, i am not keen to support such case. Sorry)

[2019-01-29 10:48] #11 closed

[2019-02-05 14:18] pkozak2 commented on #8
Where I have to add tapGestureRecognizer to allow tapping list elements?

[2019-02-05 16:40] AndreiMisiukevich commented on #8
@pkozak2 I presume, to your contentview

[2019-02-05 17:59] pkozak2 commented on #8
True, I forgot that I inserted inputTransparent arrtibute to contentView. Now its working fine

[2019-02-05 19:20] AndreiMisiukevich commented on #8
@AndreiMisiukevich enjoy :)

[2019-02-07 11:46] sesitosvdx opened #12 "Swipe event"
Hi @AndreiMisiukevich,

Great plugin! I'm trying to change the text of < and > before and after a swipe.

![image](https://user-images.githubusercontent.com/47418326/52409577-27c37680-2ad6-11e9-8c83-3367158ed8bf.png)

Is there anyway I can detect swiping so that I can bind that text to change between > and < ?

[2019-02-07 12:06] AndreiMisiukevich commented on #12
Hi, you can use these events https://github.com/AndreiMisiukevich/ContextMenu/blob/master/ContextMenu/BaseActionViewCell.cs#L21-L27

[2019-02-07 12:07] AndreiMisiukevich commented on #12
Is it helpful?

[2019-02-07 12:10] sesitosvdx commented on #12
I guess it is, but sorry, I don't know how to implement them...

Could you provide and example?

[2019-02-07 12:22] AndreiMisiukevich commented on #12
@sesitosvdx create your own view cell and inherit from SideActionBarCell
[code]

[2019-02-07 12:22] #12 closed

[2019-02-07 12:26] sesitosvdx commented on #12
Ok. Will try.

Thank you! <3

[2019-03-21 04:31] rocktool27 opened #14 "Exception on OnScrollToRequestedNew with Xamarin Forms 3.6.0.264807"
Hi @AndreiMisiukevich I I upgraded to Xamarin Forms 3.6.0.264807 and compiled an apk release and the following exception came out

03-20 22:13:33.680 12386 12386 I MonoDroid: UNHANDLED EXCEPTION:
03-20 22:13:33.720 12386 12386 I MonoDroid: Java.Lang.RuntimeException: int[] offset=0 length=4352 dst.length=1
03-20 22:13:33.720 12386 12386 I MonoDroid:   at Java.Interop.JniEnvironment+Arrays.SetIntAr

[2019-03-25 15:47] rocktool27 commented on #14
Hi again, I updated the component with the same XF version and gave me this error

Edit: It's with apk release

Unexpected task error "LinkAssemblies".
Mono.Linker.MarkException: Error processing method: 'System.Void ContextMenu.Droid.ContextMenuScrollViewRenderer/<>c__DisplayClass12_0::<OnScrollToRequestedNew>b__1()' in assembly: 'ContextMenu.Droid.dll' ---> Mono.Cecil.ResolutionException: Failed

[2019-03-25 21:21] AndreiMisiukevich commented on #14
Does anybody want to debug this case?)

[2019-03-26 16:13] rocktool27 commented on #14
If it's helpful, I use Xamarin.Android.Support components version 27.0.2.1
And my target is 8.1 Oreo

[2019-04-04 15:58] ajuanjojjj opened #15 "Exception on load"
Getting
`I/MonoDroid(12340): System.TypeLoadException: Could not resolve type with token 01000042 from typeref (expected class 'Android.Support.V4.Widget.NestedScrollView' in assembly 'Xamarin.Android.Support.Compat, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null')` on load at my Android 7.1.2. Cant test with any other devices

Gooling about the exception i found that other people had a sim

[2019-04-04 21:02] AndreiMisiukevich commented on #15
https://github.com/AndreiMisiukevich/ContextMenu/issues/14

the same?

[2019-04-04 21:28] rocktool27 commented on #15
@AndreiMisiukevich maybe the problem is with Android.Support.V4.Widget.NestedScrollView. I skiped the link assembly of Xamarin.Android.Support.v4 and ContextMenu.Droid and gave me the same issue as #14

[2019-04-04 21:46] AndreiMisiukevich commented on #15
@rocktool27 any ideas how to solve it?

[2019-04-05 07:32] ajuanjojjj commented on #15
How do you "skip the link assembly of support.v4"? I cant unistall it since various plugins depend on it

[2019-04-05 18:59] rocktool27 commented on #15
@ajuanjojjj you can skip assemblies in "Link properties" section, just go to the Android project properties and select "Android options".

Edit: To add assemblies to skip, you have to write the component name, if you want to skip more assemblies, just add a comma after than the component name. Example:

`ContextMenu,ContextMenu.Droid,...`

![image](https://user-images.githubusercontent.com/3171113

[2019-04-05 19:00] rocktool27 commented on #15
@AndreiMisiukevich not yet, how can I test the project?

[2019-04-05 23:26] ajuanjojjj commented on #15
Dont have the project here at home, i will try it when i go work this monday, i'll also try to reproduce it with as few steps as i can, hopefully i can find the root issue by doing so.
In the meantime, feel free to post any other suggestions or questions, i will try to answer them asap

[2019-04-06 08:38] AndreiMisiukevich commented on #15
Hey guys @rocktool27 @ajuanjojjj
you can find *.sln file here https://github.com/AndreiMisiukevich/ContextMenu/tree/master/ContextMenuSample

so, you should open it and run android sample project.

it's annoying issue...

[2019-04-07 12:30] AndreiMisiukevich commented on #15
@rocktool27 @ajuanjojjj

![image](https://user-images.githubusercontent.com/10124814/55683580-08b45a00-594a-11e9-92d1-03f2e25f7f1a.png)

![image](https://user-images.githubusercontent.com/10124814/55683590-1c5fc080-594a-11e9-98ec-99a54f0e7a50.png)

![image](https://user-images.githubusercontent.com/10124814/55683594-28e41900-594a-11e9-8a9d-1fb013575b15.png)

![image](https://user-images.githubuser

[2019-04-07 12:32] AndreiMisiukevich commented on #15
Can you try my sample?

[2019-04-07 13:30] ajuanjojjj commented on #15
I'll try it as soon as i go back to work tomorrow morning
However i think i was compiling with API 28 as target, and also higher min android version, on Visual Studio 2019 on Windows

[2019-04-07 17:00] rocktool27 commented on #15
@AndreiMisiukevich I found an exception, but I think it doesn't explain the link assembly issue I have.
To test it, you have to do the swipe many times and it's going to crash. I tried it with "Move to action".
[exception.txt](https://github.com/AndreiMisiukevich/ContextMenu/files/3051823/exception.txt)

[2019-04-08 07:33] ajuanjojjj commented on #15
Compiling using Android Version (Target Framework) 8.1 (Oreo) makes your solution crash when clicking the Open Button (Target Framework Android 9, as it is when first downloaded, works fine however):
[code]
Edit: Formatting and clarification of the app used

[2019-04-08 07:55] AndreiMisiukevich commented on #15
@rocktool27 move to action doesn't work for android due issue in XF
see https://github.com/AndreiMisiukevich/ContextMenu/issues/4

[2019-04-08 08:05] ajuanjojjj commented on #15
Additionally and no matter the android framework my app crashes on clicking open with the following exception:
[code]

[2019-04-08 08:16] AndreiMisiukevich commented on #15
can you fork my repository, create separate branch, make all necessary changes and provide me the name of branch :) i will check and debug this problem

Thanks

[2019-04-08 10:16] ajuanjojjj commented on #15
Done, branch URL is https://github.com/ajuanjojjj/ContextMenu

[2019-04-09 08:38] AndreiMisiukevich commented on #15
@ajuanjojjj thanks a lot
i will try at weekend

btw, i appreciate if somebody debug it as well :)

[2019-04-09 10:19] ajuanjojjj commented on #15
Have -2 idea on wpf, this is my first C#, xamarin, and project where i use nuget, feel free to ask to test anything but im like a fish out of water with all this :/

[2019-04-14 17:29] #15 closed

[2019-04-14 18:03] AndreiMisiukevich commented on #14
check new version

[2019-04-14 18:03] #14 closed

[2019-04-15 01:09] nguyenthanhliemfc opened #16 "UWP support"
Your plugin great, please support UWP thank!

[2019-04-15 01:12] AndreiMisiukevich commented on #16
Hi) would you like to contribute it?)

[2019-04-15 01:17] nguyenthanhliemfc commented on #16
@AndreiMisiukevich Great, I hope I can help!

[2019-04-15 08:57] AndreiMisiukevich commented on #16
@nguyenthanhliemfc please look at https://github.com/AndreiMisiukevich/ContextMenu/blob/master/ContextMenu.iOS/ContextMenuScrollViewRenderer.cs

How i implemented it for iOS
Need to do something like this

[2019-04-17 08:18] Zure1 opened #17 "resources in sample at wrong location"
When downloading your project, these resources are missing in the sample:

ContextMenuSample/ContextMenuSample.iOS/Resources/phila.png
ContextMenuSample/ContextMenuSample.iOS/Resources/nets.png
ContextMenuSample/ContextMenuSample.iOS/Resources/bulls.png

Same for Android drawable folder.

For some reason, they are located in this folder: C:\Users\Zure1\Downloads\ContextMenu-master\ContextMenu-mast

[2019-04-17 08:52] Zure1 commented on #17
I think something just didn't work with the linking. I copied the repo again and it's working now.

[2019-04-17 08:52] #17 closed

[2019-04-17 08:53] AndreiMisiukevich commented on #17
@Zure1 haha) cool) anyway thanks for feedback

[2019-04-17 10:19] AndreiMisiukevich opened #18 "Refuse ViewCell"
Create new controls for using it outside of ListView

[2019-04-18 08:53] Zure1 opened #19 "Add OuterLeftContent and OuterRightContent"
Add properties "OuterLeftContent" and "OuterRightContent" to BaseActionViewCell. Setting a view to one of this property adds this view to the left/right side of the cell. When swiping the cell, the OuterContent will not be swiped.

This is useful for example if one needs to add any kind of progress bar to the ListView which should not be swiped.

[2019-04-18 08:55] Zure1 opened #20 "Add ContextMenu from left side"
Currently, it's only possible to swipe from right to left to reveal a ContextMenu. There should be a possibility to swipe from left to right too and reveal a ContextMenu on the left side of the cell.

[2019-04-18 09:11] Zure1 commented on #19
See PR #21

[2019-04-18 11:29] CodeOfDarkness opened #22 "ListView ItemSelected not called"
On iOS everything works great but on Android the "ItemSelected" of the ListView is not triggered anyway. The Context-Action work perfectly, but when I click on the Content, nothing happens. Do I do something wrong or is this a bug?

[code]

[2019-04-18 11:31] AndreiMisiukevich commented on #22
Hi @CodeOfDarkness thanks for feedback

Yes, it's known issue, i think

So, you should use tapGestureRecognizer and manage taps yourself in ViewCell..

[2019-04-18 11:31] #22 closed

[2019-04-23 07:01] CodeOfDarkness commented on #22
Can you maybe give me an example on how to handle that? I'm new to Xamarin.

[2019-04-23 08:41] AndreiMisiukevich commented on #22
Just add TapGestureRecognizer to your ContentView :)
And handle taps there

[2019-04-23 11:28] CodeOfDarkness commented on #22
I already tried that, but it does not work :(

`
<ContentView.GestureRecognizers>
    <TapGestureRecognizer Command="{Binding SelectedItemCommand}" CommandParameter="{Binding param}"/>
</ContentView.GestureRecognizers>
`

[2019-04-23 11:46] CodeOfDarkness commented on #22
Please forget about my last comment. Now it works.

Very much thanks to you for helping me :)

[2019-04-23 11:48] AndreiMisiukevich commented on #22
@CodeOfDarkness cool)

[2019-04-26 06:16] rajamaheshwarsingh opened #23 "SideActionBar-consecutive swipes and clicks on listview items do not auto close listview items"
SideActionBar-consecutive swipes and clicks on listview items do not auto close listview items

[2019-04-26 08:20] AndreiMisiukevich commented on #23
@rajamaheshwarsingh hi
Yes, unfortunately it won't be fixed.
Developer should decide himself, when contextmenu should be closed.
Sorry

[2019-04-26 08:20] #23 closed

[2019-05-03 11:42] rajamaheshwarsingh opened #24 "contextmenu throws an error when used in release mode"
Following is the error when contextmenu is used in release mode:

Severity	Code	Description	Project	File	Line	Suppression State
Error		The "LinkAssemblies" task failed unexpectedly.
Mono.Linker.MarkException: Error processing method: 'System.Void ContextMenu.Droid.ContextMenuScrollViewRenderer/<>c__DisplayClass12_0::<OnScrollToRequestedNew>b__1()' in assembly: 'ContextMenu.Droid.dll' ---> Mono.Cec

[2019-05-03 12:16] AndreiMisiukevich commented on #24
@rajamaheshwarsingh hi, looks like linker issue

What version of XF do you use and what target API ?

[2019-05-03 12:47] rajamaheshwarsingh commented on #24
Xf version-4.12
Target Android api-28
Minimum target API -23

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Andrei <notifications@github.com>
Sent: Friday, May 3, 2019 5:46:50 PM
To: AndreiMisiukevich/ContextMenu
Cc: rajamaheshwarsingh; Mention
Subject: Re: [AndreiMisiukevich/ContextMenu] contextmenu throws an error when used in release mode (#24)

@rajamah

[2019-05-03 12:51] AndreiMisiukevich commented on #24
@rajamaheshwarsingh 4.12 ?? lol
4.0 is latest pre-release

[2019-05-03 12:53] rajamaheshwarsingh commented on #24
Sorry,  xf-3.5

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Andrei <notifications@github.com>
Sent: Friday, May 3, 2019 6:21:23 PM
To: AndreiMisiukevich/ContextMenu
Cc: rajamaheshwarsingh; Mention
Subject: Re: [AndreiMisiukevich/ContextMenu] contextmenu throws an error when used in release mode (#24)

@rajamaheshwarsingh<https://github.com/rajamaheshwarsi

[2019-05-03 12:54] AndreiMisiukevich commented on #24
@rajamaheshwarsingh try please 3.6

[2019-05-03 12:54] AndreiMisiukevich commented on #24
or create small sample with issue :)

[2019-05-04 07:31] rajamaheshwarsingh commented on #24
sample with issue

________________________________
From: Andrei <notifications@github.com>
Sent: Friday, May 3, 2019 6:24 PM
To: AndreiMisiukevich/ContextMenu
Cc: rajamaheshwarsingh; Mention
Subject: Re: [AndreiMisiukevich/ContextMenu] contextmenu throws an error when used in release mode (#24)

or create small sample with issue :)

—
You are receiving this because you were mentioned.
Reply to th

[2019-05-04 14:53] AndreiMisiukevich commented on #24
@rajamaheshwarsingh you forgot to attach sample)

[2019-05-09 21:59] AndreiMisiukevich commented on #24
try to set target framework to 9.0
![image](https://user-images.githubusercontent.com/10124814/57489493-dab29480-72be-11e9-84c8-0dbab11c9c6b.png)

btw, do you experience this issue in Debug?

[2019-05-09 22:01] AndreiMisiukevich commented on #24
Also try please this

![image](https://user-images.githubusercontent.com/10124814/57489568-19484f00-72bf-11e9-8624-ed5b42a7b9db.png)

If it doesn't help, report me back :)

[2019-05-10 03:45] rajamaheshwarsingh commented on #24
In debug,  it works fine

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Andrei <notifications@github.com>
Sent: Friday, May 10, 2019 3:29:44 AM
To: AndreiMisiukevich/ContextMenu
Cc: rajamaheshwarsingh; Mention
Subject: Re: [AndreiMisiukevich/ContextMenu] contextmenu throws an error when used in release mode (#24)

try to set target framework to 9.0
[image]<

[2019-05-10 06:35] AndreiMisiukevich commented on #24
@rajamaheshwarsingh have you tried that trick ?

[2019-05-10 07:17] rajamaheshwarsingh commented on #24
I tried this trick,  but still same error.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Andrei <notifications@github.com>
Sent: Friday, May 10, 2019 3:31:43 AM
To: AndreiMisiukevich/ContextMenu
Cc: rajamaheshwarsingh; Mention
Subject: Re: [AndreiMisiukevich/ContextMenu] contextmenu throws an error when used in release mode (#24)

Also try please this

[im

[2019-05-10 08:44] AndreiMisiukevich commented on #24
@rajamaheshwarsingh hmmm
try to add linker file and preserve this stuff

If it works in Debug, it means that linker cuts it in Release mode..

[2019-05-13 08:29] Daan298261 commented on #24
I got the same issue. Debug works fine, however when i try to do a release build it crashes. When linking is turned off it works however the APK is huge..
Im using the contextViewCell 1.0.4 package from nuget. ( This issue occurs in VS2017 community and Enterprise and in VS2019 community)
Embedded the error below
[code]

Version info:
[code]

[2019-05-13 08:47] AndreiMisiukevich commented on #24
@DaanTacoSchool hi. Thanks for info.

Have you tried to add linker file and put that assembly as preserved there ?

[2019-05-13 08:50] Daan298261 commented on #24
I just made an example, jsut an empty project that throws the same error in release mode ;
[here](https://github.com/DaanTacoSchool/LinkerSample)

Can you explain a bit more in detail on how to add the linker file? cause i dont have a clue.

[2019-05-13 08:56] AndreiMisiukevich commented on #24
@DaanTacoSchool thanks for sample :)
I will try to work around it

[2019-05-13 08:56] AndreiMisiukevich commented on #24
@DaanTacoSchool thanks for sample :)
I will try to work around it

[2019-05-13 09:37] Daan298261 commented on #24
Setting the linker to SDK Assemblies Only and setting 'ContextMenu.Droid.dll' in the skip linking assembies option field works on debug as well but not on release mode for versions 1.03 and 1.04. (also have --skiplinking=System.Runtime set as buildargs under advanced. recommended for similar issues i found on bugzilla)

using version 1.02 with the same options set seems to work. the app builds. ho

[2019-05-13 09:43] AndreiMisiukevich commented on #24
@DaanTacoSchool weird.. need to check
I will do it when i have time :)

[2019-05-13 09:44] Daan298261 commented on #24
trying on 1.02 now, removed the skiplinking options. Devug works fine. however when i build it in release i get a SIGABRT 6. Ive had those before. they are a pain.
`05-13 11:43:07.589 F/libc    ( 9767): Fatal signal 6 (SIGABRT), code -6 (SI_TKILL) in tid 9767 (me.LinkerSample), pid 9767 (me.LinkerSample)`

[2019-05-13 09:51] Daan298261 commented on #24
Seems to be an out of memory exception. no idea what causes this since its an empty project. (did already lowered the amount of rows from 300 to 20. didnt help).
[code]

[2019-05-13 10:01] AndreiMisiukevich commented on #24
@DaanTacoSchool it's some kind of stupid exception..

[2019-05-13 10:15] Daan298261 commented on #24
Ive had issues with sigabrts in the past that took weeks to find and fix. however i did some more digging and it 'looks' like it is thrown by an array of ints that is too big. what wonders me is why it seems the origin are the touch handlers. something is awry there in 1,0,2

[2019-05-13 10:50] Daan298261 commented on #24
Got it to work on 1.0.4 I think the issue is the targetplatform of your nugetpackage. if i compile it on api 27 (android 8/8.1) it doesnt work. however if i compile on api 28 (android 9) it does work. The app i make does have to support at least android 7. Could you, if possible lower the target framework or check if there are any calls to deprecated methods?

[2019-05-13 10:52] AndreiMisiukevich commented on #24
@DaanTacoSchool it's target api, not minimum
So it should work well
Check it

[2019-05-13 10:59] Daan298261 commented on #24
no errors or warnings when compiling against android 9.0

however when compiling against 8.1
[code]

[2019-05-13 11:30] Daan298261 commented on #24
UPDATE;
Using the same settings in my main project doesnt solve the issue like it does in the sample :/

[2019-05-13 11:37] AndreiMisiukevich commented on #24
@DaanTacoSchool strange..

[2019-05-14 07:44] Daan298261 commented on #24
Solved it. It looks like your nuget package requires something from an android.support package of version 28.x or higher. I was using the last 27.x build. After updating to the latest android support packages the issue dissappeared. Maybe you can/should specify the dependency so people get an error when compiling with an older version.

[2019-05-14 08:02] DaanTacoSchool opened #25 "Enhancement: Enable the use of a viewcell as content"
It would be very useful to be able to use a viewcell as main content.

[2019-05-14 08:35] sesitosvdx commented on #24
I had the same problem, followed all your steps: set target framework to 9.0 and udated all xamarin.android.support packages to 28.x or higher.

Now I'm getting a new error:

`"java.exe" exited with code 2. 0`

[2019-05-14 08:40] Daan298261 commented on #24
I Did leave my xamforms at version 3.4.xxx75 otherwise other dependencies would break in my project. To be sure i also specified the linker to skip a couple of assemblies ( though this didnt appear to have any effect previously i just didnt touch it in fear of breaking it again).

i put this in an xml file with buildaction set to "LinkDescription" in my android root alongside with setting
'System.

[2019-05-14 08:40] AndreiMisiukevich commented on #24
@sesitosvdx enable linker / enable mulidex

[2019-05-14 08:44] sesitosvdx commented on #24
@AndreiMisiukevich Enabled Multidex and it is working now! Thank you.

[2019-05-14 10:13] AndreiMisiukevich commented on #25
@DaanTacoSchool hi
Sorry, could you please explain what do you mean?

[2019-05-14 10:14] AndreiMisiukevich commented on #25
https://github.com/AndreiMisiukevich/ContextMenu/issues/18

Allow to use it outside of ListView ?

[2019-05-14 10:17] AndreiMisiukevich commented on #24
would you like to make PR with this info?

[2019-05-14 10:27] Daan298261 commented on #25
Like this
[code]

except since the sideactionbar is derived from a baseActionCell this is not possible.

[2019-05-14 11:22] AndreiMisiukevich commented on #25
@DaanTacoSchool hmm, just copy content of that cell and set to **Content**

ViewCell inside ViewCell - it's something strange

[2019-05-14 11:27] Daan298261 commented on #25
Yes, i originally used a viewcell because there is a lot of complex code linked to the cell and its visual cues. by making a custom cell it was easier to keep track of things. (among some other reasons).

Can i derive my viewcell from the sideactionbarcell?

[2019-05-14 11:32] AndreiMisiukevich commented on #25
why you don't want to create ContentView as separate xaml file?

[2019-05-14 11:33] Daan298261 commented on #25
Because most of it is in c# and not in xml :)

[2019-05-14 11:52] AndreiMisiukevich commented on #25
@DaanTacoSchool copy it to xaml.cs of ContentView

[2019-05-14 13:50] TechBlackSparrow commented on #20
@AndreiMisiukevich

**In Right To Left Approach:**
Each Row is a Scrollview, in that two views are added.

- 1st view is Content View
- 2nd view is Context Menu
	Since, you are adding Context Menu as 2nd view, it's hidden always. when touch happens, you are changing the ScrollX position of the Scrollview to reveal/dismiss the context Menu **- its working fine.**

**But, Left to Right Approach:**
W

[2019-05-17 06:13] Zure1 commented on #20
@TechBlackSparrow this works, I've done this in my private project. Personally, I don't like the visual effect of it though because the context menu won't move like it does now.

[2019-05-19 20:52] #25 closed

[2019-05-19 20:54] #24 closed

[2019-05-19 23:36] #18 closed

[2019-05-21 09:20] TechBlackSparrow commented on #20
@Zure1  Left To Right context menu, you have done in your private project. is it working on Android also without any animation issue?.

[2019-05-21 09:41] Zure1 commented on #20
No, it did have animation issues. I opened a stackoverflow question [here](https://stackoverflow.com/questions/53203857/listview-cell-translation-manipulation-affects-other-cells) about my problem. But someone linked to this project in the comments and I'm trying to add this feature to this problem right now.

I'm sure you could fix this issue tho, someone already answered on my question on stacko

[2019-05-21 16:57] AndreiMisiukevich commented on #19
@Zure1 i release views (so you can combine layout as you wish)

[2019-05-21 16:57] #19 closed

[2019-05-21 16:57] AndreiMisiukevich commented on #4
Just release views instead of cells
Seems works fine with **CollectionView**

[2019-05-21 16:57] #4 closed

[2019-05-21 20:27] AndreiMisiukevich commented on #20
Here is guideline, how to achieve "left menu"
there is nothing difficult - just set Rotation = 180 to ContextMenuView and to menu's main view and context view.

![image](https://user-images.githubusercontent.com/10124814/58128162-a7a5c480-7c1f-11e9-9422-9c2678335d83.png)

![q](https://user-images.githubusercontent.com/10124814/58128309-fd7a6c80-7c1f-11e9-9c2a-bffc7f141cbc.gif)

[2019-05-21 20:27] #20 closed

[2019-05-22 07:23] Zure1 commented on #20
Good idea, but is it possible like this to have ContextMenu from left **and** right side on the same item?

[2019-05-22 07:51] AndreiMisiukevich commented on #20
@Zure1 hmm
Not sure, cuz we use scrollview.

But... Hm, but we can try )

[2019-05-22 07:58] matteopiccioni opened #26 "Suggestion - A way to notify users about this functionality"
Hello,
when the users go in the page with the list of items (only the first time?),
would be nice to have a way to show a short and strategic self-moving of the cells,
to inform the users that is possible to slide the cells
Thanks for your work!

[2019-05-22 08:11] AndreiMisiukevich commented on #26
@matteopiccioni yes, you can achieve it very easily

just call
[code]

[2019-05-22 08:11] #26 closed

[2019-05-22 11:40] AndreiMisiukevich commented on #16
Still help wanted :)

[2019-05-22 12:15] nguyenthanhliemfc commented on #16
@alexmartinezm I have try to add ContextMenuSample.UWP. It's crash on app start up!

[2019-05-22 12:29] AndreiMisiukevich commented on #16
@nguyenthanhliemfc weird

[2019-05-23 19:38] Orgbrat commented on #16
Like your plugin but cannot use it until you have UWP support...  Let us know when you get UWP working.

[2019-05-23 20:01] AndreiMisiukevich commented on #16
@Orgbrat would you like to contribute a little code for uwp ?

[2019-05-23 20:45] Orgbrat commented on #16
Sorry, I am deep into a new Xamarin Forms app and have my time obligated

[2019-05-24 00:04] thaihuydang commented on #14
Hi, I have had the same error with version 2.0.
I used X.F 3.6.0.220655
====================
Severity	Code	Description	Project	File	Line	Suppression State
Error		The "LinkAssemblies" task failed unexpectedly.
Mono.Linker.MarkException: Error processing method: 'System.Void ContextMenu.Droid.ContextMenuScrollViewRenderer/<>c__DisplayClass12_0::<OnScrollToRequestedNew>b__1()' in assembly: 'ContextMe

[2019-05-24 05:48] AndreiMisiukevich commented on #14
@rocktool27 have you read Readme file yet ?

Did you initialized plugin correctly and updated Xamarin andoid packages to 28.x.x version?

[2019-05-24 07:15] thaihuydang commented on #14
yes, I read the Readme file and did what in this file. I also update android packages to 28.x.x version

[2019-05-24 08:39] AndreiMisiukevich commented on #14
@thaihuydang can you try to replicate this issue on my sample?

[2019-05-29 05:00] AlenToma opened #27 "SideContextMenuView Not working"
I just installed this from nuget and im having a problem making it work.
dose the source code differ from nuget?

I have this in listview, the first 5 items work and i could slide it and the button come out but after the 5 items i cant slide anything. and also the items stop beging visible.

Here is my xaml have a look

[code]

[2019-05-29 20:39] AlenToma commented on #27
Ok i have tested your source code and there is many issue with it. `SideContextMenuView ` should be much simpler then what you think. and also its really bad to have it in a scrollview where it will inactive `move`, `click` etc

So i build one for my self. and will share the code with you, let me know what you think.

Here you can watch it on youtube
[![Audi R8](http://img.youtube.com/vi/GpzJTskzf

[2019-05-30 08:47] AndreiMisiukevich commented on #27
ListView should have "RecycleElement" strategy

btw, do you see the same error on my samples?

[2019-05-30 08:48] AndreiMisiukevich commented on #27
@AlenToma the best approach would be:
1) fork my repository
2) apply your changes
3) make PR to my repo

[2019-05-30 10:11] AlenToma commented on #27
Well i tried that, but there are many diffrent cases where i get error when working with your library. And i have other controller that inteferes with the structure of you repo. making big changes is time  consuming for me and thats why i build my own. I just wanted to show you the code so that you may be willing to remove ScrollView and add Relativelayout instead and with the help of bounds you c

[2019-05-30 12:19] andreipro opened #28 "Swipe doesn't work when cell's width is smaller than the listView's"
Hey,
As title says, in my application I need the view cell to have a smaller width than the list view's, and in this case the swipe doesn't work anymore. Is this a bug or intended? Is there a work around to achieve this?

Thanks in advance,
Andrei

[2019-05-30 12:57] AndreiMisiukevich commented on #28
@andreipro hi,

It's neither bug, nor feature. some kind of restriction :)

i think, you may try to bind WidthRequest of your .View to menu's Width

Like in sample, but without converter, and source should be ```context:SideContextMenuView```

https://github.com/AndreiMisiukevich/ContextMenu/blob/master/ContextMenuSample/ContextMenuSample/Pages/SideMenuPage.xaml#L32-L36

[2019-05-30 13:43] andreipro1002 commented on #28
@AndreiMisiukevich Hey, thanks for the fast reply. I forgot to mention that I am using SideActionBarCell, the SideActionBarCell.Content will have the "width = ListView.Width - 40" where 40 represents the left + right margins for the view cell. And in SideActionBarCell.ContextTemplate I have 2 buttons with 120 width each. On the content I'm using WidthRequest to get that value written above, but as

[2019-05-30 15:32] AndreiMisiukevich commented on #28
@andreipro can you provide small sample project?

[2019-05-31 08:12] rodrigoaraujo02 commented on #24
I'm still getting this error, how can I solve this?

[2019-05-31 08:54] AndreiMisiukevich commented on #24
@rodrigoaraujo02 check thread's messages. There is solution here.

Also you can check samples project. I cannot reproduce this issue there.

[2019-05-31 08:57] rodrigoaraujo02 commented on #24
I have tryed everything in here, still got the problem... I've enabled multidex, I've changed the api target, I've downgraded XF, nothing seems to work

[2019-05-31 09:06] AndreiMisiukevich commented on #24
@rodrigoaraujo02 hm, you should upgrade XF, download latest Xamarin.Android support packages, call Preserve method, maybe try to add preserver config

really i have no idea. Maybe try to add this project as source code to your project

[2019-05-31 09:14] rodrigoaraujo02 commented on #24
@AndreiMisiukevich my android support package is the latest 28.0.0.1, my xam.forms is the 4.0.0.471375, I have your latest version of this Context Menu (btw this is a great feature, congrats), and I have linking option "none"

[2019-05-31 09:15] AndreiMisiukevich commented on #24
@rodrigoaraujo02  what is your target android version?

[2019-05-31 09:18] Daan298261 commented on #24
Did you call the initializer in both the mainactivity in android and the
appdelegate in ios?  You might need to fiddle a bit.

Also, updating android support packages might help along with trying
different versions of XF (in my project i had to use a 3.x version)

Op vr 31 mei 2019 11:15 schreef Andrei <notifications@github.com>:

[2019-05-31 09:32] rodrigoaraujo02 commented on #24
@AndreiMisiukevich my mistake, I haven't got linking option none, I have now, and I was able to build this but now I can't swipe the cell, It does not work with this otpion

[2019-05-31 09:34] rodrigoaraujo02 commented on #24
@AndreiMisiukevich nevermind, just got mistaken, I check this again and my linking option was not "none", I've changed this and it's fine now

[2019-05-31 10:55] AndreiMisiukevich commented on #24
@DaanTacoSchool thanks for assistance, buddy :)

[2019-05-31 15:55] andreipro1002 commented on #28
@AndreiMisiukevich Hey, in the end I took another approach in fixing this, you can close the topic. Thanks :)

[2019-05-31 16:19] #28 closed

[2019-05-31 17:02] rodrigoaraujo02 opened #29 "Swipe Error"
Hey, I'm having this issue on swipe... as you can see in my vid, some work just fine but other doesn't work, they move just a bit, I don't know the problem here, I'm using SideActionBarCell rigth now, but I wanted to implement the SwipeActionContextMenuView, but I got the same bug...

this is how I'm using
[code]
also tried with CollectionView, same thing

[ContextMenuProb.zip](https://github.com/

[2019-06-04 11:39] rajamaheshwarsingh opened #30 "how to avoid swiping two listview items at once"
how to avoid swiping two listview items at once

[2019-06-04 11:47] AndreiMisiukevich commented on #30
What is your case?

***IsAutoCloseEnabled = true*** by default. So you try to open new menu item, prev will be closed

[2019-06-04 11:50] rajamaheshwarsingh commented on #30
if we use two fingers, one on each list view item and try to  swipe both the items simultaneously, then both the items are swiped. In Ideal case, user should be able to swipe only one item not both.

[2019-06-04 12:03] AndreiMisiukevich commented on #30
@rajamaheshwarsingh got it.

Hmm, i think you will have to try to work around with IsEnabled ... (change it on status changing)

not sure about it

[2019-06-06 04:50] rajamaheshwarsingh commented on #30
I need help on "where can I check for two views are opened at the same time, so that I can validate code for only one view to be opened at any time"

[2019-06-06 11:34] AndreiMisiukevich commented on #30
@rajamaheshwarsingh it's just ScrollView
Maybe you can try to make all your non-selected views IsEnabled = false.
Not sure how to resolve it

[2019-06-20 00:28] Kelve17 opened #31 "Is it possible to use ListView instead of CollectionView ?"

[2019-06-20 00:29] #31 closed

[2019-07-03 09:28] stefanvesely opened #32 "activity indicator"
Good Day sir, thank you for the amazing piece of work, I have one issue that i have encountered, once i add an activity indicator to the form, the list only shows if you tap the content, it's weird, have you heard of this issue? or experienced it?

[2019-07-03 11:50] AndreiMisiukevich commented on #32
weird) do you mind to provide a sample?

[2019-07-03 12:21] stefanvesely commented on #32
unfortunately not, I am working with a private sql database and web interface that is also private and has a bunch of sensitive information on, what i can do it provide the code for the view model and the form.
`<TabbedPage  xmlns="http://xamarin.com/schemas/2014/forms"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
             xmlns:local="clr-namespace:AndroidFueledV1"

[2019-07-03 12:26] stefanvesely commented on #32
Just ignore the elements of the form that can be put in a style sheet, I went through a bunch of debugging that ultimately broke down the code into very simple elements. After breaking everything down and re-breaking it down and simplifying it over and over, it ended up still doing the same things over and over so i removed the normal list view and the collection view still required a tap to show

[2019-07-03 16:26] rocktool27 opened #33 "Problem with SideActionBarCell in Xamarin Forms >= 4.0"
The swipe works at the beginning, but when you do scroll, templates in SideActionBarCell have errors. This only happens on Android.

I have a RecycleElement Strategy for the list.
![1562170978801](https://user-images.githubusercontent.com/31711135/60608417-0b75ee00-9d85-11e9-871e-67a3dc72eda9.JPEG)

[2019-07-03 21:40] AndreiMisiukevich commented on #33
Cells are deprecated
Use views

[2019-07-03 21:45] rocktool27 commented on #33
Also in ListView?

Edit: My fault, I didn't see the new code with CollectionView.

[2019-07-03 23:56] AndreiMisiukevich commented on #33
@rocktool27 does it work?

[2019-07-04 04:16] xinwanc opened #34 "Having issue with Swipe"
Hi,
I am seeking for assistance regarding the nuget package
I have tried to apply your nuget package to enable swipe action in my ListView:
[code]
However, the output from my code is some items become like the screenshot below and i cant swipe some items in my ListView. Kindly assist on this matter.

[2019-07-04 04:20] xinwanc commented on #34
<img width="352" alt="Screenshot 2019-07-04 at 12 17 08 PM" src="https://user-images.githubusercontent.com/38121289/60639663-1ea4be80-9e56-11e9-9bdc-259840d6b35a.png">

[2019-07-04 10:31] AndreiMisiukevich commented on #34
![image](https://user-images.githubusercontent.com/10124814/60660277-16ea1780-9e60-11e9-9a71-a354ac69f2a5.png)

[2019-07-09 03:22] xinwanc commented on #34
Hi @AndreiMisiukevich. Thank you very much for your reply. Can I ask how did you manage to apply the animation when i remove certain items. When i slide and click on "delete" image button it will slowly faded and removed. May I know that how do you achieve that?

![image](https://user-images.githubusercontent.com/38121289/60857088-e3323780-a23b-11e9-8302-69c13bcf212a.png)

[2019-07-09 08:32] AndreiMisiukevich commented on #34
@xinwanc it's iOS default animation :)

but for sure you can try to replicate it on android as well

just play with TranslateTo and FadeTo animation methods

[2019-07-09 08:32] #34 closed

[2019-07-09 09:23] aubiyko opened #35 "Enhancement: Get current state of menu"
There is no property to get current state (opened or closed) of context menu view or cell. Such events do exist, but I think having seperate properties is nice and more convenient to work with.

[2019-07-09 10:50] Zure1 commented on #33
I experience the same with the new Views, with Android with X.F >= 4.0. After scrolling. The views sporadically disappear and swipe doesn't work anymore. Didn't make a difference to use RetainElement or RecycleElement.

iOS works fine.

[2019-07-09 11:53] AndreiMisiukevich commented on #35
yeah, they are protected now
[code]

you can get access in case of inherit class

[2019-07-10 09:12] aubiyko commented on #35
CurrentDirection and CurrentState are in "LEGACY CODE" region at BaseContextMenuView. Can I use them safely?

[2019-07-10 09:49] AndreiMisiukevich commented on #35
@aubiyko i think yes. But for sure i need to refactor all project, because code quality is super bad

[2019-07-10 09:49] #35 closed

[2019-07-18 13:16] InquisitorJax opened #36 "Move To Delete - swipe content visible when cancelled"
If I start swipe, and the slide it closed in order to cancel the action, then the underlying content is still visible:
from sample app:
![image](https://user-images.githubusercontent.com/1822976/61460358-debdfb00-a96e-11e9-8741-164cfd19fc3a.png)
here's another snap from another app
![image](https://user-images.githubusercontent.com/1822976/61460423-01501400-a96f-11e9-85f8-b7ccfe338667.png)

[2019-07-18 13:20] InquisitorJax opened #37 "Move To Delete - items become stuck [Android]"
Tested on android device api 23
using the sample app.
When I delete a few items, and scroll the listview - some items get into a state where they can only be swiped about 1 or 2 pixels.

[2019-07-23 12:03] CodeOfDarkness commented on #26
Hi Andrei Misiukevich,
I'm relative new to Xamarin and have a question.

How can I access a single element of ContextMenu when used in a ListView to trigger that ScrollToAsync on a single View only?

[2019-07-23 12:53] AndreiMisiukevich commented on #26
@CodeOfDarkness i think you should do it through code

[2019-07-23 12:55] CodeOfDarkness commented on #26
I don't know how to access it by code

[2019-07-23 12:59] AndreiMisiukevich commented on #26
@CodeOfDarkness if you use ListView, you may create custom ViewCell e.g.

[2019-07-23 13:01] CodeOfDarkness commented on #26
@AndreiMisiukevich Ok thanks for your quick help 👍

[2019-07-24 09:19] TzounasA commented on #37
Same problem here. I use ListView.

Actually i cloned the sample project from here and it has the same issue

[2019-07-24 09:31] AndreiMisiukevich commented on #37
Hey guys, sorry for delay.
But i have 6 open source xamarin.forms projects.. extremely little time.

I appreciate any help. Feel free to make PRs

[2019-08-01 10:00] nielscup opened #38 "ObjectDisposedException: Cannot access a disposed object. Object name: 'ContextMenu.Droid.ContextMenuViewRenderer'."
I get the above error when navigating to the page containing the contextmenu items the second time. I am using COntextViewCell 2.0.0. Any ideas?

[2019-08-01 11:43] nielscup commented on #38
Fix ContextMenuViewRenderer:

        bool isDisposed;

        protected override void Dispose(bool disposing)
        {
            base.Dispose(disposing);
            isDisposed |= disposing;
        }

        protected void OnElementPropertyChanged(object sender, PropertyChangedEventArgs e)
        {
            if (!isDisposed && ChildCount > 0)
            {
                var bar = GetCh

[2019-08-02 15:57] AndreiMisiukevich commented on #38
Hey) how about pull request ?)

[2019-08-05 13:06] nielscup commented on #38
Yeah sorry, I don't have a lot of time on my hands, this was a bit quicker for me.

[2019-09-05 11:13] Alexander-Alekseev opened #39 "Is it possible to use SwipeActionContextHolder within a ListView?"
Hi, I'm interesting if it is possible to use SwipeActionContextHolder within a ListView?

I did try your example with CollectionView - it works OK, but for my project I need swipe-to-delete functionality in a ListView. When I tried to implement such functionality I got an uncaught exception:

If it is not possible to use a ListView at all then I just wanna know why :) Or maybe any ideas how I coul

[2019-09-05 12:24] AndreiMisiukevich commented on #39
put holder INSIDE ViewCell

[2019-09-05 12:24] #39 closed

[2019-09-05 12:30] Alexander-Alekseev commented on #39
Ah, thanks!

[2019-09-07 11:03] gaffkins opened #40 "How to use without ListView or CollectionView"
Can I use this Control inside for example ContentView, without ListView or CollectionView?

[2019-09-07 22:37] AndreiMisiukevich commented on #40
Of course, you can. Just put this control inside ContentView

[2019-09-07 22:37] #40 closed

[2019-09-09 15:06] nielscup opened #41 "iOS: IsAutoCloseEnabled not working"
I have multiple list items and I swipe the 1st item to open the contextMenu. If I then swipe a 2nd item, the 1st item remains open, resulting in 2 items showing contextMenu.
On Android the 1st item closes as soon as I swipe another item.

Also, iOS does not snap/animate when swiping. It will remain half opened if you let go too soon. Any ideas?
![Screenshot 2019-09-09 at 17 04 43](https://user-ima

[2019-09-09 15:57] AndreiMisiukevich commented on #41
Would you like to debug this case?

[2019-09-10 08:41] nielscup commented on #41
This problem was caused by our own code: on iOS the list item would swipe vertically as well as horizontally, which is not desired. So we added code to prevent vertical swiping for iOS. This apparently changed the autoclose behaviour. Looking into the vertical swipe issue now...

[2019-09-10 09:30] #41 closed

[2019-09-18 23:05] #38 closed

[2019-09-22 05:36] RaviKamboj opened #43 "Swipe feature In left"
Hello Andrei,
Is there any way to make list view item scroll to left as well and add one or two views at left corner . please reply asap.
any help will be really appreciate
Thanks

[2019-09-22 14:34] AndreiMisiukevich commented on #43
https://github.com/AndreiMisiukevich/ContextMenu/issues/20#issuecomment-494545639

[2019-09-22 14:34] #43 closed

[2019-09-23 05:54] RaviKamboj commented on #43
As per my requirement i have to use it inside List view (Not in Collection View). But whenever i debug it its crashed on Android/iOS both platforms. is there any way to use swipe functionality from left inside List view. Please also mention if it 's possible to use swipe left right in one item. Please reply asap.

[2019-09-23 05:55] RaviKamboj commented on #43
Hello Andrei ,
Thanks for previous replies.
As per my requirement i have to use it inside List view (Not in Collection
View). But whenever i debug it its crashed on Android/iOS both platforms.
is there any way to use swipe functionality from left inside List view.
Please also mention if it 's possible to use swipe left right in one item.
Please reply asap.
Regards
Ravi Kamboj

On Sun, Sep 22, 2019

[2019-09-23 06:09] RaviKamboj opened #44 "ContextviewCell Not working with Listview"
As per my requirement i have to use it inside List view (Not in Collection View). But whenever i debug it its crashed on Android/iOS both platforms. is there any way to use swipe functionality from left inside List view. Please also mention if it 's possible to use swipe left right in one item. \

[2019-09-23 07:45] AndreiMisiukevich commented on #43
@RaviKamboj of course. Just wrap view with ViewCell if you want to use in inside ListView

[2019-09-23 07:45] AndreiMisiukevich commented on #43
left/Right in one item -- unfortunately not for now :(

[2019-09-23 07:47] AndreiMisiukevich commented on #44
[code]

[2019-09-23 07:47] AndreiMisiukevich commented on #44
Add ViewCell

[2019-09-23 07:47] #44 closed

[2019-09-23 09:15] RaviKamboj commented on #43
[
<img width="1254" alt="Screenshot 2019-09-23 at 2 44 34 PM" src="https://user-images.githubusercontent.com/43990283/65414141-b3dda080-de10-11e9-9288-0be867a82c8e.png">
](url)

[2019-09-23 09:15] RaviKamboj commented on #43
Have tried as u say but studio showing this error .:(

[2019-09-23 09:24] RaviKamboj commented on #43
oh thanks Andrei
following you for left right swipe in both direction .
Thanks again :)

[2019-09-23 11:29] Gloomv01 opened #45 "Is it possible "Long press" on an element?"
Did it possible "Long press" on an element?
Your ContextMenu it's great component. But I also need a "Long press" on the item, is it possible?
I wont do something on "Long press".

[2019-09-23 11:34] AndreiMisiukevich commented on #45
Hi, no, this feature is not supported.

maybe it will help https://alexdunn.org/2017/12/27/xamarin-tip-xamarin-forms-long-press-effect/

[2019-09-23 11:34] #45 closed

[2019-09-23 11:43] Gloomv01 commented on #45
Thanks, for quick answer.

[2019-09-29 13:33] AndreiMisiukevich commented on #29
Cells are deprecated
you should use views

[2019-09-29 13:33] #29 closed

[2019-09-29 13:59] AndreiMisiukevich commented on #30
public event Action<BaseContextMenuView> TouchStarted;
        public event Action<BaseContextMenuView> TouchEnded;

On start -- forbid to touch any other views, on end -- allow again

[2019-09-29 13:59] #30 closed

[2019-09-29 15:31] AndreiMisiukevich commented on #37
cannot reproduce on latest code (just updated packages)
on API 28 emulator

[2019-09-29 15:31] #37 closed

[2019-09-29 16:02] AndreiMisiukevich commented on #36
play with margins/paddings of bottom content as I did it for my sample :)

[2019-09-29 16:02] #36 closed

[2019-09-29 16:03] AndreiMisiukevich commented on #32
doesn't look like this plugin issue
closing for now

[2019-09-29 16:03] #32 closed

[2019-09-29 16:03] AndreiMisiukevich commented on #27
So) if you wish to enhance this plugin, feel free to make PR

[2019-09-29 16:03] #27 closed

[2019-09-29 16:04] AndreiMisiukevich commented on #33
Don't forget to bind your view's width to width of the container (CollectionView or ListView) - Check readme for more info

[2019-09-29 16:04] #33 closed

[2019-09-30 07:18] stefanvesely commented on #32
Hiya,
I think that the issue comes in when you mix your plugin, with async tasks and activity indicator.
What I have done now is completely replace your context menu with one i have built from scratch that does everything yours does.
Now there is no more issues... so it has to do with your code somewhere and I cant find the issue.

Anyway thanks and have a good day.

[2019-10-02 22:20] sereoja opened #46 "Combination of ContextMenu's"
Hi Andrei,
Great job, I really enjoy your work.
Is it possible to have a combination of Context Menus? Something similar to mail app on ios, a combination of side menu and swipe to delete?
Thx

[2019-10-03 02:07] AndreiMisiukevich commented on #46
Hi @sereoja. I thought about such an enhancement. I think we can try at least :)
SwipeGestureRecognizer on iOS and gesture detector on Android

[2019-10-03 15:11] ThallisonRhanniel opened #47 "Is it possible to Swipe Action Context Menu View move both ways?"
Hello Andrei.
Great job, I really like this lib.
The function is the same as SwipeActionContextMenuView, but with the ability to swipe both sides and each side performing a different function, just like the ios email application.
Thanks

[2019-10-03 18:41] AndreiMisiukevich commented on #47
for now not, but we can consider it

[2019-10-18 07:41] ShazimaNaaz opened #48 "If entry is kept in DataTemplate, for Swipe action, The entire cell scrolls above in iOS and the data entered is not visible."

[2019-10-18 07:45] ShazimaNaaz commented on #48
![Screenshot 2019-10-18 at 1 14 41 PM](https://user-images.githubusercontent.com/52919216/67075689-4ae80f00-f1a9-11e9-88bb-751d1730b642.png)

Please find the attachment for reference.

[2019-10-18 17:48] AndreiMisiukevich commented on #48
Hi) Hmmm. It doesn't look like this project's issue. That's more XF bug.
So, I suggest resizing page's height on keyboard opening/closing

Here is the renderer https://github.com/AndreiMisiukevich/GalleyFramework/blob/master/GalleyFramework.iOS/Renderers/GalleySuperPageKeyboardRenderer.cs

[2019-10-18 17:48] #48 closed

[2019-10-21 08:12] christophedemey commented on #15
Changing build target to Pie fixed my problem, thanks!

[2019-11-09 14:36] FabianDeGreef opened #49 "How to select an item from the collection using SwipeActionContextMenuView"
How can you simple select a item inside the collection by commanding (I am using MVVM)
For some reason you just can't select anything from this.

[2019-11-09 23:17] AndreiMisiukevich commented on #49
Hi, just add TapGestureRecognizer and bind its command to your VM command

[2019-11-09 23:17] #49 closed

[2019-11-19 13:47] ilyamisura opened #50 "TapCommand"
Hi Andrei, is there any possibility to add tap command?
In my project side context menu view are inside in view cell of ListView and it works fine, but i can't to tap on list view elements now, ListView tap command is working fine only when context menu has input transparent = true

[2019-11-19 14:10] AndreiMisiukevich commented on #50
Yes, add TapGestureRecognizer to your view :)

[2019-11-19 14:10] #50 closed

[2019-11-26 10:59] pantelisGeo90 commented on #10
Hello, this is a great library.
I wanted to post an the updated of the code since `SideActionBarCell` and `BaseActionViewCell` is obsolete now:
[code]

[2019-11-26 15:59] pantelisGeo90 opened #51 "Swipe does not work for all items in the listview. ConverterParameter has something to do with that"
Hello, this is an incredible library.

While trying it out in my project I've found out that the `converterParameter` on `widthRequest` for the `[context].View` has a bit impact on the functionality of the swiping.

I've copied the code from your `MenuFitWidthConverter.cs` class in my project because it was throwing an error.

I am using Xamarin.Forms 3.4.0.1039999

I've copied your example from h

[2019-11-26 16:20] pantelisGeo90 commented on #51
It works fine if i use a RepeaterView though. That's weird :S

[2019-11-26 16:21] AndreiMisiukevich commented on #51
@pantelisGeo90 hmmm
how about CollectionView ?

[2019-11-26 16:22] AndreiMisiukevich commented on #51
@pantelisGeo90 could you please build a small sample where I can "play" ?

Or better: fork my repo and apply update in your fork

[2019-11-26 16:28] pantelisGeo90 commented on #51
@AndreiMisiukevich Thanks for your response.

Unfortunately I can't use `CollectionView` because i am using Xamarin.Forms 3.4 and i think the collectionView was introduced in version 4. (i can't update because the behaviour of my app breaks as soon as i update to a higher version of xamarin.forms, something to do with the carousel, i'll either have to use a different carousel or stay at this versi

[2019-11-26 19:26] AndreiMisiukevich commented on #51
closing for now

[2019-11-26 19:26] #51 closed

[2019-11-27 12:14] ramziqoura opened #52 "SelectionChanged"
Hi
Why SelectionChanged is not working in CollectionView?

<CollectionView x:Name="CollectionView" ItemsSource="{Binding Items}" SelectionMode ="Single" SelectionChanged="OnSelectionChanged" Margin="0, 5, 0, 0" BackgroundColor="White">
</CollectionView >

Thanks

[2019-11-27 12:50] shahbaaz90 opened #53 "ForceCloseCommand not working on first row in ListView iOS"
hi,
  the ForceCloseCommand seems to be not creating the close effect on the first row on the ListView on iOS. works fine on all the other rows.

Using Listview with RecycleElement disabled (enabling it is causing none of the listview context menus to dismiss)

noticing something similar on android too

[2019-11-27 21:05] AndreiMisiukevich commented on #52
Hi, no idea
I suggest using TapGestureRecognizer for that

[2019-11-27 21:05] #52 closed

[2019-11-27 21:07] AndreiMisiukevich commented on #53
weird
Can you provide a sample?

[2019-11-28 12:32] shahbaaz90 commented on #53
[testingSwipeCellLib.zip](https://github.com/AndreiMisiukevich/ContextMenu/files/3901639/testingSwipeCellLib.zip)

I have attached the sample code as zip file. the issue is now more apparent when i enable the RecycleElement strategy. it makes no rows dismiss at all, and causes a crash in android at some point.

The control otherwise is pretty impressive. Thanks a lot for your help with this.

[2019-11-29 08:24] AndreiMisiukevich commented on #53
@shahbaaz90 try to use it with CollectionView

[2019-12-25 14:51] Tuncu opened #54 "Refresing"
How we can start refresh operation like
ItemsListView.BeginRefresh()
ItemsListView.EndRefresh();

[2019-12-25 22:48] AndreiMisiukevich commented on #54
Hi
Not sure it’s related to this plugin

[2019-12-26 09:26] RaviKamboj opened #55 "Unit Test"
Hello Mate,
first of all, you really developed a great module... really it works very smooth and nice. I have integrated your code in to my project like added BaseActionViewCell.cs files in my project and its working fine. But the problem i am facing right now is that i have to write unit test cases for each .cs file. i have written for all the classes except swipe module(your code). Please help m

[2019-12-26 10:20] AndreiMisiukevich commented on #54
That's more about ListView or CollectionView.

[2019-12-26 10:20] #54 closed

[2019-12-26 10:22] AndreiMisiukevich commented on #55
@RaviKamboj I am not sure that it makes any sense to write UNIT tests for UI part... it's super strange.

I don't know what do you want to test there by Unit tests.

[2019-12-26 10:22] #55 closed

[2019-12-27 18:31] AlejandroRuiz commented on #53
I found a similar issue but for Android I was able to fix it by overwriting the default ForceCloseCommand instance and perform the ScrollToAsync call twice
using something like this:
[code]

Im using the latest current Forms version "Xamarin.Forms" version="4.4.0.991265" and the collectionview

[2019-12-28 16:37] AndreiMisiukevich commented on #53
@AlejandroRuiz nice trick

[2020-01-23 12:25] RaviKamboj opened #56 "In android its stuck"
Hello Andrei ,
i used swipe in my project and its working fine in iOS But got stuck in android , can you help me with that

[2020-01-23 12:29] AndreiMisiukevich commented on #56
Hi) Can you download my sample and try it there?

[2020-01-23 12:34] RaviKamboj commented on #56
Yes tried , its workin fine .. bt in my projct its stuck on android .. is
there any config different fr android

On Thu, 23 Jan 2020 at 5:59 PM, Andrei <notifications@github.com> wrote:

[2020-01-23 13:02] AndreiMisiukevich commented on #56
@RaviKamboj perhaps it depends on xamarin.forms version or target android API

[2020-01-23 13:03] RaviKamboj commented on #56
I hv tried different android versions on sample .. its workin fine

On Thu, 23 Jan 2020 at 6:32 PM, Andrei <notifications@github.com> wrote:

[2020-01-23 13:52] AndreiMisiukevich commented on #56
Then I need a sample, how to reproduce

On Thu, Jan 23, 2020 at 16:03 RaviKamboj <notifications@github.com> wrote:

--

*Andrei Misiukevich*

*Lead Software Engineer at ISsoft Solutions*

*mobile: *+375 29 <+375%2017%20389%200100>303 40 07   Email:
andrei.misiukevich@gmail.com Skype: csi.andreymisyukevich

*Minsk,* *Belarus *(GMT+3)

[2020-01-24 06:30] RaviKamboj commented on #56
its working fine on ios but not on andrpid. i tried with diff versions of android and xamarin android latest as well. i m not able to give my listview width may be thats why.. can u guide me with how can i able to set listview item width ?

[2020-01-24 08:03] AndreiMisiukevich commented on #56
Yes, this is the reason. Why you cannot set the list width?

[2020-01-24 08:04] AndreiMisiukevich commented on #56
[code]

[2020-01-24 22:11] JPAhnen opened #57 "How to close context menu after invoking a command?"
I attached a very simple command which just changes a bool value of the list item and updates it in the database.
I want to close the context menu when the command has finished. How can I do this?

This is the command that is called:
[code]
and this is how the code is invoked:
[code]

AutoClose is enabled:
[code]

Everything works, but how can I close the context menu?
Thanks!

[2020-01-28 09:45] AndreiMisiukevich commented on #57
Bind to ForceCloseCommand and invoke it for closing menu

[2020-01-28 09:45] #57 closed

[2020-01-30 01:29] #56 closed

[2020-01-30 01:29] AndreiMisiukevich commented on #53
Feel free to make a PR with a fix or just use the workaround provided above

[2020-01-30 01:29] #53 closed

[2020-01-30 01:30] AndreiMisiukevich commented on #47
sorry, it won't be implemented. Since XF introduced SwipeVIew

[2020-01-30 01:30] #47 closed

[2020-01-30 01:30] AndreiMisiukevich commented on #46
Hi, it won't be implemented. XF introduced own SwipeView

[2020-01-30 01:30] #46 closed

[2020-01-30 01:31] AndreiMisiukevich commented on #16
You should use XF SwipeView :)

[2020-01-30 01:31] #16 closed

[2020-01-31 15:17] Sattasundar opened #58 "MovedCommand and Moved event is not working"
Both MovedCommand and Moved event is not triggering. And as well view not as expected.

[2020-02-01 13:29] AndreiMisiukevich commented on #58
Hi, share your sample please

On Fri, Jan 31, 2020 at 17:17 Sattasundar <notifications@github.com> wrote:

--

*Andrei Misiukevich*

*Lead Software Engineer at ISsoft Solutions*

*mobile: *+375 29 <+375%2017%20389%200100>303 40 07   Email:
andrei.misiukevich@gmail.com Skype: csi.andreymisyukevich

*Minsk,* *Belarus *(GMT+3)

[2020-02-06 21:12] AndreiMisiukevich commented on #58
read readme file again. I presume you forgot to bind width

[2020-02-06 21:12] #58 closed

[2020-04-01 12:47] MichaelStgt opened #59 "aaa"
Hey Andrei,

will there ever be support for Windows UWP?

Regards,
Michael

[2020-04-01 13:16] AndreiMisiukevich commented on #59
Hi Michael,
Not sure. I think, no. Because there is official SwipeView in Xamarin.Forms

[2020-04-01 13:16] #59 closed

[2020-04-03 17:33] Skorska opened #60 "What about UWP platform? Any plans to support?"

[2020-04-04 13:34] AndreiMisiukevich commented on #60
Duplicate https://github.com/AndreiMisiukevich/ContextMenu/issues/59

[2020-04-04 13:34] #60 closed

[2020-05-13 11:45] raghulvaikundam commented on #57
`Bind to ForceCloseCommand and invoke it for closing menu` this is not working for me. Probably I might be missing something.
Following is the description of my effort for closing the menu
I have defined a variable called forceClose of type ICommand and bound that variable to a ForceCloseCommand attribute. I invoked it as forceClose.Excecute(this)

[2020-05-13 12:25] AndreiMisiukevich commented on #57
In Xaml **ForceCloseCommand="{Binding ForceCloseCommand}"**

In code

**public ICommand ForceCloseCommand { get; set; }**

And invoke it whenever you want

[2020-05-14 02:11] raghulvaikundam commented on #57
In the above piece of code, ForceCloseCommand property will not have any implementation in my ViewModel. My question is how will this command will close the Context. It would be great, if you explain with little more details

[2020-05-14 06:54] raghulvaikundam opened #61 "Do we get any callback while performing swipe using SideContextMenuView which is present inside the CollectionView?"
Upon swiping, I need to execute some business logic. How do we achieve that

[2020-05-14 16:56] AndreiMisiukevich commented on #57
Did you try?
ForceCloseCommand is OneWayToSource bindable property. If you bind it, you will see that it has values

ForceCloseCommand.Execute(null);

[2020-05-14 16:57] AndreiMisiukevich commented on #61
public event Action<BaseContextMenuView> ContextMenuOpened;
        public event Action<BaseContextMenuView> ContextMenuClosed;
        public event Action<BaseContextMenuView> TouchStarted;
        public event Action<BaseContextMenuView> TouchEnded;

[2020-05-14 16:57] #61 closed

[2020-05-14 16:58] AndreiMisiukevich commented on #61
There are several events

[2020-05-14 17:00] raghulvaikundam commented on #57
Thanks It was working fine.

[2020-06-24 09:48] varunbabus19 opened #62 "IsAutoCloseEnabled = true not working for RTL Support"
IsAutoCloseEnabled = true not working for RTL Support and the closing of previous/last view is not happening

[2020-06-24 11:19] AndreiMisiukevich commented on #62
Hi, thanks for the report
Does it work well for LTR ?

[2020-07-01 08:54] housecode opened #63 "ScrollUp trigger RefreshView to Refreshing"
When wrapping `CollectionView` in example page (e.g: `SideMenuPage` or any example page) with `Xamarin.Forms.RefreshView`, `IsRefreshing` property value set to true.

[code]

## Step to Reproduce:
1. Update `Xamarin.Forms` to latest (4.7.0.968)
2. Change the example and wrap the `CollectionView` with `RefreshView`
3. Don't scroll down/up, then swipe one of displayed item
4. Don't click any context

[2020-07-01 09:03] AndreiMisiukevich commented on #63
Hi,
Weird bug.

Can you reproduce this bug with XF SwipeView ?

[2020-07-01 16:52] housecode commented on #63
Nope, I can't reproduce with SwipeView

[2020-08-05 13:17] acuntex commented on #53
Found why only the last Command worked:
If you bind it to the ViewModel of the Page, then only the last element will close because it gets overridden by each element in the CollectionView/ListView

In order to make it work, the Command would have to have a parameter which is passed to the command.

[2020-08-22 14:27] acuntex opened #64 "Android: ForceCloseCommand does not work if it is called from a TapCommand within the ContextTemplate with Animation active"
If you call ForceCloseCommand on Android to close the ContextMenu after/before you execute a command then it will be open again.

e.g.
[code]
First line of the DeleteCommand is:
[code]
It also happens with a regular GestureRecognizer, so it's not related to TouchEff.

Somehow, the ForceCloseCommand gets called, it also executes the ScrollTo(0.0,0.0,animated), but somehow after that, TouchEnded reo

[2020-08-23 15:24] AndreiMisiukevich commented on #64
Weird. Can you build a small sample?

[2020-08-23 17:32] acuntex commented on #64
I've created an isolated sample here:
https://github.com/acuntex/ContextMenuBug_ForceCloseCommand

On iOS it works fine.
On Android it does not work if Animations for Closing are enabled.

Sorry for the hacky solution, it's a bit hard without proper MVVM-Framework ;-)

[2020-08-23 17:57] AndreiMisiukevich commented on #64
Cannot promise that I will take a look soon.
But feel free to debug this library and make PR if you wish)

[2021-04-06 12:31] imma784 opened #66 "Android SideContextMenuView not showing up"
On android, once I swipe in a CollectionView there's a weird blank space overlapping the controls defined in the ContextTemplate. Its working fine on iOS.

<img width="401" alt="Screenshot 2021-04-06 at 17 28 35" src="https://user-images.githubusercontent.com/80313744/113710980-d2a73d80-96fd-11eb-9cc8-73274b0c338e.png">

Not sure if it's a Xamarin.Forms version issue (5.0.0.2012) or device theme i

[2021-04-06 21:33] AndreiMisiukevich commented on #66
Hello @imma784
Any reason you don't use SwipeView from XamarinForms box?
Doesn't it work?

[2021-04-07 14:18] imma784 commented on #66
@AndreiMisiukevich Well, I have experienced UI issues with the stock SwipeView, particularly on iOS. the CollectionView scrolling becomes jittery, where a vertical scroll gesture ends up invoking the SwipeView quite frequently.

that control does not seem to be production-ready at this point.

edit: I can confirm that this problem is related to the Xamarin.Forms version. I just updated your Contex

[2021-04-07 20:16] AndreiMisiukevich commented on #66
@imma784 then need to try to find a workaround... or fix it on XF side... not so good.

[2021-04-08 06:05] imma784 commented on #66
Hello Andrei,

I just saw your email, and I want to inform you that there were few fixes
needed and I have done those already.

On Thu, Apr 8, 2021 at 1:16 AM Andrei ***@***.***> wrote:

[2021-04-08 20:56] AndreiMisiukevich commented on #66
@imma784 would you like to share them? and maybe contribute them to the project)

[2021-04-26 23:43] #66 closed

[2021-06-15 06:37] nielscup opened #67 "Cant get it to work properly, see video"
I copied the same code from the sample but it does not work as expected, see video:
https://user-images.githubusercontent.com/3483085/122004434-b33f2780-cdb4-11eb-9e21-1a6d91c6c272.mov

Any ideas what can be the problem?

[2021-06-15 06:40] nielscup commented on #67
My bad: I forgot ContextMenuViewRenderer.Preserve(); Works fine now!

[2021-06-15 06:40] #67 closed

[2021-06-15 12:16] nielscup opened #68 "SelectionChanged and SelectedItem not working"
SelectionChanged and SelectedItem not working in SideMenuPage. Any ideas how to fix this?

SideMenuPage.xaml:
[code]
SideMenuPage.xaml.cs:
[code]

[2021-06-15 15:12] nielscup opened #69 "SideContextMenuView: auto close when tapped"
How do I auto close the context menu after tapping a context menu item? In the example it remains open when tapped which is not desired.

[2021-06-15 17:21] AndreiMisiukevich commented on #67
Great :)

[2021-06-15 17:31] AndreiMisiukevich commented on #68
Add TapGestureRecognizer to your View and use its command instead

[2021-06-15 17:32] AndreiMisiukevich commented on #68
https://github.com/AndreiMisiukevich/ContextMenu/issues/49

[2021-06-15 17:32] #68 closed

[2021-06-15 17:37] AndreiMisiukevich commented on #69
Hi, you should call ForceClose or ForceCloseCommand

[2021-06-15 17:37] #69 closed

[2021-06-15 17:38] AndreiMisiukevich commented on #69
e.g.

SideContextMenuView?.LastOpenedView?.ForceClose();

[2021-06-15 17:47] nielscup commented on #69
Thanks for your quick response!! How do I reference the SideContextMenuView? Via the TapGesture?

[2021-06-15 19:41] AndreiMisiukevich commented on #69
```<SideContextMenuView x:Name="context" /> ```

```<TapGestureRecognizer Command="{Binding ForceCloseCommand, Source={x:Reference context}}"```

Smth like this

[2021-07-05 07:05] boris-df opened #70 "Question about Padding / Margin - very picky?"
Hi,

i wonder why this class is so picky about setting Padding and Margin to relative high values?

Say I put this into a ViewCell and do this:

[code]
It works.
But if i change the Padding / Margin of the Grid from "20,5" / "15,5" to something less, it stops working - i cannot slide the view to left to show the contextmenu anymore

So: Padding / Margin of "0" / "0" doesnt work. neither do "5" / "

[2021-07-05 20:34] AndreiMisiukevich commented on #70
Hi) You can use any value you want, but the total sum of padding/margin should be passed to the converter

[code]

For example, here we pass **70** because ```Margin="15,5" Padding="20, 5"```
Margin Left = 15, Margin Right = 15 (it total 15 + 15 = 30)
Padding Left = 20, Paddight Right = 20 (it total 20 + 20 = 40)
Grand Total = 30 + 40 = 70

So, if you want to change it to Marging="5", Padding="5"

[2021-07-05 20:34] #70 closed

[2021-07-06 06:14] boris-df commented on #70
Oh, i see! Thank you for this explanation. I'll try this! :)

[2021-08-18 11:35] #62 closed

[2021-08-18 11:36] #63 closed

[2021-12-07 23:48] AndreiMisiukevich commented on #64
Closing stale bug-report
Please let me know if this issue still occurs (pushed a new version a day ago)

[2021-12-07 23:48] #64 closed

[2022-01-02 17:41] brettnguyen opened #73 "Isautoclosingenabled not working when scrolling in iOS"
The auto closing for iOS doesn’t work when scrolling.

[2022-01-02 23:06] AndreiMisiukevich commented on #73
Yes, you should call "close" yourself)
`Isautoclosingenabled` means that the menu is closing automatically after opening it

[2022-01-02 23:06] #73 closed

[2022-01-03 07:27] brettnguyen commented on #73
Okay. So how do I close the menu if the contextview is inside a data template? For example I want the scrolling from a collectionview to close the menu how would that work?

[2022-01-03 07:32] AndreiMisiukevich commented on #73
Subscribe CollectionView scrolled event, and inside that handler just call

SideContextMenuView.LastOpenedView.ForceClose();

[2022-01-03 15:48] brettnguyen opened #74 "How do I got about calling the “close” menu command/action outside of the data template?"
For example how would I call close context menu with a collectionview when the context menu is inside the data template? If this is not possible close this issue.

[2022-01-03 16:31] AndreiMisiukevich commented on #74
@brettnguyen

Subscribe CollectionView scrolled event, and inside that handler just call

SideContextMenuView.LastOpenedView.ForceClose();

[2022-01-03 16:56] brettnguyen commented on #74
Works thank you. The animation to close it is a bit slower but that could just be the iOS emulator I’m using

[2022-01-03 16:56] #74 closed

[2022-02-07 23:31] JustinJWyatt opened #75 "Are we able to disallow a user from swiping?"
I need to be able to set on the context item view whether I want the user to be able to swipe based on a condition.

[2022-02-08 18:28] AndreiMisiukevich commented on #75
can you try to set IsEnabled=False? (to entire context menu view)

[2022-02-08 18:33] JustinJWyatt commented on #75
Yes I have tried setting `ExtendedSideContextMenuView.IsEnabled` to `False` but this actually disables my `TapGestureRecognizer` within my `SideContextMenu.View`. I don't want my tap gesture disabled. I want it to only prevent the user from swiping the one item based on a condition for that one item in collection view.

[2022-02-08 18:35] AndreiMisiukevich commented on #75
Well, try to set IsVisible=False for Context view then

[2022-02-08 18:36] AndreiMisiukevich commented on #75
But honestly speaking I am not sure that this is possible with the current implementation

[2022-03-08 15:55] AndreiMisiukevich commented on #75
@JustinJWyatt
closing it due to inactivity

[2022-03-08 15:55] #75 closed